{% extends "layout.html" %}
{% block content %}

<div class="template-section">
    <div class="template-text">
        <h2>
            Konchowanie uszu
        </h2>
        <br>
        <h5>
            Zabieg redukuje szumy w uszach, ból głowy oraz przewlekłe zmęczenie.
            Konchowanie uszu wpływa pozytywnie na stres oraz działa relaksująco.
            Znacznie wpływa również na polepszenie samopoczucia, wycisza i pomaga
            osiągnąć harmonię i spokój. Ponadto zabieg stymuluje życiową energię.
        </h5>
        <br>
        <h5>
            Proces rozpoczyna się od przetarcia części ucha oraz kanału usznego
            patyczkiem kosmetycznym. Następnie delikatnie rozmasowywane są
            okolice ucha po czym zapalona jedna koncha umieszczona zostaje we
            wlocie kanału usznego. Konchę usuwa się w momencie, gdy wypali się
            ona do oznaczonego linią miejsca.
        </h5>
        <br>
    </div>
    <div class="template-image">
        <img src="{{url_for('static', filename='images/konchowanie32.jpg') }}"
             alt="theta healing obrazek" class="template-image">
    </div>
</div>

{% endblock content %}