{% extends "layout.html" %}
{% block content %}


<div class="template-section">
    <div class="template-text">
        <h2>
            Uzdrawianie
        </h2>
        <br>
        <h5>
            Przywracanie zdrowia choremu cieleśnie, psychicznie lub duchowo może odbywać
            się przez różne sposoby, mając zawsze na uwadze dobro pacjenta.
        </h5>
        <br>
        <h5>
            Zabiegi przeprowadza dyplomowany Mistrz Bioenergoterapii - Alina Selwat,
            która dzięki swemu ponad 20-letniemu doświadczeniu w pracy z klientami
            jest w stanie zaoferować swoją pomoc nawet w beznadziejnych przypadkach.
        </h5>
        <br>
        <h5>
            Specjalnością naszego głównego bioenergoterapeuty jest Reiki, czyli
            japońska metoda uzdrawiania, w której terapeuta przekazuje
            za pomocą dłoni energię życiową.
        </h5>
        <br>
        <h5>
            Uzdrawianie duchowe, które przywraca harmonię energetyczną we wszystkich
            sferach naszej egzystencji.
        </h5>
        <h5>
            Uzdrawianie może odbywać się również na odległość.
        </h5>
    </div>
    <div>
        <img src="{{url_for('static', filename='images/uzdrawianie32.jpg') }}"
         alt="uzdrawianie obrazek" class="template-image">
    </div>
</div>



{% endblock content %}